.hello{
  width: 500px;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.task-count-wrapper {
  border-top: 1px solid #d9d9d9;
  margin-top: 8px;
  padding: 12px 0;
}
.task-count{
  margin-left: 20px;
}