.ant-layout-sider {
  background: #fff; 
}

.ant-menu-dark {
  background: #fff;
}
.left-menu{
  height: calc(100vh - 64px);
  overflow-y: auto; 
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1677ff !important; 
  color: #fff !important; 
}

.ant-menu-dark .ant-menu-item:hover {
  color: #fff !important;
}
.ant-dropdown-menu-item-icon{
  margin-inline-end: 18px!important;
}
.dropdown-label {
  display: inline-block;
  min-width: 100px;
}
.demo-logo-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
  margin-bottom: 16px;
}
.site-layout-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 只影响 content 区域滚动条 */
.ant-layout-content {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #1677ff #f0f0f0; /* Firefox */
}

/* Chrome/Edge/Safari */
.ant-layout-content::-webkit-scrollbar {
  width: 6px;
  background: #f0f0f0;
}

.ant-layout-content::-webkit-scrollbar-thumb {
  background: #1677ff;
  border-radius: 3px;
}